*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
#preloader{
    background: #000;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
#banner{
    
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.4)),url(images/banner.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.container-preloader{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ring{
    width: 200px;
    height: 200px;
    border: 0px solid black;
    border-radius: 50%;
    position: absolute;
}
.ring:nth-child(1){
    border-bottom-width: 8px;
    border-color: rgba(255,0,255,0.9);
    animation: rotate1 2s linear infinite;
}
.ring:nth-child(2){
    border-right-width: 8px;
    border-color: rgba(0,247,255,0.9);
    animation: rotate2 2s linear infinite;
}
.ring:nth-child(3){
    border-top-width: 8px;
    border-color: rgba(0,255,13,0.9);
    animation: rotate3 2s linear infinite;
}
.loading{
    color: white;
    position: absolute;
    font-family: monospace;
    font-weight: bold;
    font-size: 18;
}
@keyframes rotate1{
    0%{
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}
@keyframes rotate2{
    0%{
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}
@keyframes rotate3{
    0%{
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}
.logo{
    width: 200px;
    position: absolute;
    top: 4%;
    left: 7%;
    transition: .5s;
}
.logo:hover{
    width: 400px;
    color: aqua;
    transition: .5s;
    cursor: pointer;
}
.banner-text{
    text-align: center;
    /* color: #fff; */
    color: white;
    padding-top: 180px;
}
.banner-text h1{
    font-size: 70px;
    font-weight: bold;
}
.banner-text p{
    margin: 0 3%;
    font-size: 20px;
    font-style: normal;
    font-family: monospace;
    color: aqua;
}
.banner-btn{
    margin: 30px auto 0;
}
.banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    /* color: #fff;*/
    color: white;
    font-size: 30px;
    font-family: cursive;
    font-weight:bolder;
    border: .5px solid /* #fff */ black;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}
.banner-btn a span{
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: /* #fff */ rgba(0,255,255, 0.3);
    z-index: -1;
    transition: .5s;
}
.banner-btn a:hover span{
    width: 100%; 
}
.banner-btn a:hover{
    color: #000;
}
.shortcut-contact-icons{
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
    background-color: rgba(50,100,150, 0.5);
    margin-left: 10%;
    margin-right: 10%;
    border-style: outset;
    border-top-color: red;
    border-bottom-color: lime;
    border-radius: 30px;
    transition: 0.5s;
}
.shortcut-contact-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}
.shortcut-contact-icon img{
    width: 50px;
    height: 50px;
    transition: 0.5s;
}
.shortcut-contact-icons-text{
    margin-top: 1px;
    font-size: 14;
    font-family: cursive;
    transition: 0.5s;
}
.shortcut-contact-icons:hover{
    background-color: rgba(0,0,0,0.7);
    transform: scale(1.05);
    box-shadow: 0px 4px 8px white;
    transition: 0.5s;
}
.shortcut-contact-icon:hover {
    transition: 0.5s;
    transform: translateY(-30px);
}
.shortcut-contact-icon:hover img{
    width: 100px;
    height: 100px;
    transition: 0.5s;
}
.shortcut-contact-icon:hover .shortcut-contact-icons-text{
    color: lime;
    font-size: 20px;
    transition: 0.5s;
}

@media screen and (max-width:770px){
    .shortcut-contact-icons{
        display: flex;
        padding: auto;
        align-items: flex-start;
        justify-content: center;
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 15px;
    }
    .shortcut-contact-icon{
        margin: auto;
        transition: 0.5s;
    }
    .shortcut-contact-icon img{
        width: 35px;
        height: 35px;
        transition: 0.5s;
    }
    .shortcut-contact-icons-text{
        display: none;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }
    .shortcut-contact-icon:hover {
        transform: translateY(-10px);
        transition: 0.5s;
    }
    .shortcut-contact-icon:hover img{
        width: 60px;
        height: 60px;
        transition: 0.5s;
    }
    .shortcut-contact-icon:hover .shortcut-contact-icons-text{
        display: flex;
        opacity: 1;
        color: lime;
        font-size: 14px;
        transition: 1.0s;
    }
}


#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: rgba(00,150,150,0.8);
    z-index: 2;
    transition: 0.5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: /* #fff */ #fff;
    transition: 0.5s;
}
nav ul li a:hover{
    color: yellow;
    font-weight: bold;
    transform: translateY(-10px);
    transition: 0.5s;
}
#menuBtn{
    width: 50px;
    height: 50px;
    background: #009688;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px; 
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#menuBtn img{
    width: 20px;
    margin-top: 15px;
}
#menuBtn:hover{
    background: linear-gradient(#009688,rgba(0,0,0,0.0));
}

#goToTop{
    display: none;
    position: fixed;
    bottom: 30px;
    left: 30px;
    width: 60px;
    height: 60px;
    background-color: #555;
    font-size: 40px;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: ghostwhite;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
    overflow: hidden;
    box-shadow: 0px 0px 30px blue;
    border-style: ridge;
    border-color: lightskyblue;
}
#goToTop:hover{
    background-color: darkgray;
    transition: 0.5s;
    color: red;
    width: 80px;
    height: 80px;
    box-shadow: 0px 0px 20px red;
}

@media screen and (max-width: 770px){
    .banner-text{
        padding-top: 100px;
    }
    .banner-text h1{
        font-size: 35px;
    }
    .banner-text p{
        font-size: 15px;
    }
    .banner-btn a{
        display: block;
        margin: 17px auto;
        font-size: 20px;
    }
    .logo{
        width: 120px;
        top: 2%;
        left: 5%;
    }
    .logo:hover{
        width: 260px;
    }
    #sideNav{
        width: 160px;
    }
    #menuBtn{
        width: 40px;
        height: 40px;
        right: 20px;
        top: 15px; 
    }
    #menuBtn img{
        width: 17px;
        margin-top: 11px;
    }
    .ring{
        width: 130px;
        height: 130px;
        border-radius: 50%;
    }
    #goToTop{
        bottom: 10px;
        left: 10px;
        width: 45px;
        height: 45px;
        font-size: 20px;
        box-shadow: 0px 0px 20px blue;
    }
    #goToTop:hover{
        width: 50px;
        height: 50px;
        box-shadow: 0px 0px 15px red;
    }
}

#our-products{
    width: 100%;
    padding: 0px 0;
}
.our-products-row{
    width: auto;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: rgba(0,0,0, 0.5);
    padding: 20px;
    border-top-style:outset;
    border-top-color: lawngreen;
    border-top-left-radius: 77px;
    
    border-bottom-style:outset;
    border-bottom-color: blue;
    border-bottom-right-radius: 77px;
    
}
.our-products-col{
    flex-basis: 16%;
    padding: 1px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px 1px lightyellow;
    cursor: pointer;
    transition: 0.5s; 
    background-color: white;
    padding-bottom: 10px;
}
.our-products-col p{
    font-size: 20px;
    text-decoration: none;
}
.our-products-icon{
    float: left;
    display: block;
    align-items: center;
    margin: auto;
}
.our-products-icon img{
    width: 100%;
    margin-right: 20px;
    border-radius: 10px;
}
.our-products-col:hover{
    transition: 0.5s;
    transform: translateY(-7px); 
    box-shadow: 0 10px 20px 1px blue;
}
.our-products-text{
    text-align: center;
    color: red;
    text-decoration: none;
    font-weight: bold;
    font-size: auto;
}

@media screen and (max-width:770px){
    .our-products-row{
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    .our-products-col{
        flex-basis: 47%;
        margin-bottom: 20px;
    }
    .our-products-col p{
        font-size: 14;
    }
    .our-products-col:hover {
       bottom: 25% !important;    
    }
}
#welcome{
    width: 100%;
    padding: 30px 0px;
    background: #efefef;
}
.service-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;  
}
.single-service{
    flex-basis: 30%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    background-color: mintcream;
    position: relative;
}
.single-service img{
    width: 100%;
    border-radius: 7px;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),#009688);
    opacity: 0;
    transition: 1s; 
}
.single-service:hover .overlay{
    opacity: 1;
}
.service-desc{
    width: 80%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}
hr{
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}
.service-desc p{
    font-size: 14px;
}
.single-service:hover .service-desc{
    bottom: 40%;
    opacity: 1;
}
.heading1{
    text-align: center;
    color: black;
}
.heading1 h3{
    font-size: 30px;
    text-decoration: underline;
    font-style: oblique;
}
.heading1 p{
    font-size: 25px;
    font-style: inherit;
    margin-top: 5%;
}
@media screen and (max-width:770px){
    .single-service{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
     .service—desc p {
         font—size: 12px;
    }
    
    hr{
         margin: 5px auto;
        }
    .heading1 h3{
        font-size: 25px;
    }
    .heading1 p{
        font-size: 22px;
    }
    .single-service:hover .service-desc{
       bottom: 25% !important;    
    }
}

#testimonial{
    width: 100%;
    padding: 70px 0;
}
.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p{
    margin: auto;
    font-size: 20px;
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#019587,#fff);
    position: absolute;
    top: -20;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.title-text h1{
    font-size: 50px;
}
.testimonial-row{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.testimonial-col{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px rgba(0,0,0,0.7);
    cursor: pointer;
    transition: transform .5s;
}
.testimonial-col p{
    font-size: 14px;
}
.user{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.user img{
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}
.user-info small{
    color: #009688;
}
.testimonial-col:hover{
    transform: translateY(-7px);
    box-shadow: 0 10px 20px 3px red;
}
@media screen and (max-width:770px){
    .testimonial-row{
        width: 95%;
    }
    .testimonial-col{
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    .testimonial-col p{
        font-size: 20px;
    }
    .user{
        font-size: 25px;
    }
    .user img{
        min-width: 150px;
    }
}



/*--pdfroom--*/
#pdfroom{
    width: 100%;
    padding: 70px 0;
    background-color: darkgrey;
}
.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p{
    margin: auto;
    font-size: 20px;
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#019587,#fff);
    position: absolute;
    top: -20;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.title-text h1{
    font-size: 50px;
}
.pdfroom_body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: whitesmoke;
    width: 95%;
    border-radius: 11px;
    margin-bottom: 10px;
}
.pdfroom_body:hover{
    box-shadow: 0 5px 10px 1.5px red;
    transform: translateY(-11px);
}
.pdfroom-container{
    width: 95%;
    padding: 5px;
}
.pdf_title{
    display: flex;
    color: black;
    font-size: 20px;
    padding: 5px;
    font-weight: bold;
    transition: transform .5s;
}
.pdf_title:hover{
    cursor: pointer;
    color: red;
    transition: 0.5s;
    transform: translateX(-20px);
}
.img img{
    max-width: 197px;
    float: left;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 3px 3px rgba(200,0,0,0.6);
    transition: transform .5s;
}
.img img:hover{
    transform: translateY(-11px); 
    opacity: 0.8;
    transition: 1s;
    cursor: pointer;
}
.pdf_embed{
    padding: 5px;
    display: flex;
}

@media screen and (max-width: 770px){
    .title-text h1{
        font-size: 35px;
    }
    .pdfroom-container{
        flex-basis: 100%;
        margin-bottom: 1px;
    }
    .img img{
        max-width: 67px;
    }
    .pdf_embed{
        padding: 0px;
    }
    .pdf_title{
        font-size: 16px;
    }
}

/////////
#feature{
    width: 100%;
    padding: 70px 0;
}
.feature-row{
    width: auto;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: rgba(0,0,0, 0.5);
    padding: 20px;
    border-top-style:outset;
    border-top-color: red;
    border-top-left-radius: 77px;
    
}
.feature-col{
    flex-basis: 30%;
    padding: 1px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px 1px lightyellow;
    cursor: pointer;
    transition: 0.5s; 
    background-color: white;
    padding-bottom: 10px;
}
.feature-col p{
    font-size: 20px;
}
.feature-icon{
    float: left;
    display: block;
    align-items: center;
    margin: auto;
}
.feature-icon img{
    width: 100%;
    margin-right: 20px;
    border-radius: 10px;
}
.icon-heading h4{
    margin-top: 7px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
}
.feature-col:hover{
    transition: 0.5s;
    transform: translateY(-7px); 
    box-shadow: 0 10px 20px 1px blue;
    
}
@media screen and (max-width:770px){
    .feature-row{
        border-top-left-radius: 30px;
    }
    .feature-col{
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    .icon-heading h4{
        font-size: auto;
    }
    .feature-col p{
        font—size: 12px;
    }
    .feature-col:hover {
       bottom: 25% !important;    
    }
}

/*--service--*/

#service-recent-works{
    width: 100%;
    padding: 70px 0;
    background: #efefef;
}
.service-recent-works-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin: auto;
    
}
.service-recent-works-single-service{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}
.service-recent-works-single-service img{
    width: 100%;
    border-radius: 7px;
}
.service-recent-works-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),#009688);
    opacity: 0;
    transition: 1s;
    
}
.service-recent-works-single-service:hover .service-recent-works-overlay{
    opacity: 1;
}
.service-recent-works-service-desc{
    width: 80%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}
hr{
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}
.service-recent-works-service-desc p{
    font-size: 14px;
}
.service-recent-works-single-service:hover .service-recent-works-service-desc{
    bottom: 40%;
    opacity: 1;
}
@media screen and (max-width:770px){
    .service-recent-works-single-service{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
     .service-recent-works-service—desc p {
         font—size: 12px;
    }
    hr{
         margin: 5px auto;
        }
    .service-recent-works-single-service:hover .service-recent-works-service-desc{
       bottom: 25% !important;    
    }
}

#footer{
    padding: 50px 0 20px;
    background: #efefef;
    position: relative;
}
.footer-img{
    max-width: 250px;
    opacity: 0.8;
    position: absolute;
    left: 50%;
    top: 32%;
    transform: translate(-50%,-50%);
}
.footer-row{
    padding-top: 30px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.footer-left,.footer-right,.footer-center{
    flex-basis: 30%;
    padding: 10px;
    margin-bottom: 20px;
}
.footer-right{
    text-align: right;
}
.footer-center{
    text-align: center;
}
.footer-row h1{
    margin: 10px 0;
}
.footer-row p{
    line-height: 25px;
}
.footer-center h2{
    text-decoration: underline;
    font-size: 22px;
}
.wrapper{
    display: inline-block;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: 0.5s;
}
.icon img{
    margin-right: 10px;
    width: 32px;
    margin-left: auto;
}
.text{
    color: blue;
    text-decoration: none;
    font-weight: bold;
    font-size: auto;
}
.wrapper a{
    text-decoration: none;
}
.footer-left a{
    text-decoration:none;
    color: blue;
    font-weight: bold;
}
.icon:hover{
    display: inline-flex;
    transform: translate(-17px,-3px);
    transition: 0.5s;
}
@media screen and (max-width:770px){
    .footer-left,.footer-right,.footer-center{
        flex-basis: 100%;
        margin-bottom: 30px;
        text-align: center;
    }
    .footer-img{
        max-width: 217px;
        top: 19%;
    }
    .wrapper{
        display: inline-flex;
    }
    .icon:hover{
        transform: translate(0px,-11px);
    }
    .text{
        font-size: 0px;
        margin: 5px;
    }
    
}

@media screen and (max-width:770px){
    .title-text p{
        font-size: 18px;
    }
    .title-text h1{
        font-size: 32px;
    }
}



